@{
    Layout = "/Views/Shared/Layout/_Layout.cshtml";
}

<h1>Best bets</h1>

<div id="results-bestbets">

    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" data-bind="value: searchQuery">
        </div>
        <button type="submit" class="btn btn-default" data-bind="click: searchButtonClicked">Search</button>
    </form>

    @Html.Partial("~/Views/Shared/SearchJsonResult.cshtml")

    @Html.Partial("~/Views/Shared/UnifiedSearchResults.cshtml")
</div>

@section Scripts
{
    <script src="/Static/ViewModels/InfluenceResults/bestbetsviewmodel.js"></script>
}

