@{
    Layout = "/Views/Shared/Layout/_Layout.cshtml";
}

<h1>Best bets</h1>

<div id="results-bestbets">

    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" data-bind="value: searchQuery">
        </div>
        <button type="submit" class="btn btn-default" data-bind="click: searchButtonClicked">Search</button>
    </form>

    <div class="container-separator" data-bind="visible: results().length > 0">
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#bestbets-result" aria-expanded="false" aria-controls="bestbets-result">
            Result
        </a>
        <div class="collapse" id="bestbets-result">
            <div class="well" data-bind="text: resultJson">
            </div>
        </div>
    </div>

    <table class="table table-striped" data-bind="visible: results().length > 0">
        <thead>
            <tr>
                <th>Results</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: results">
            <tr>
                <td>
                    <strong data-bind="html: title"></strong> - <strong data-bind="text: section"></strong>
                    <p data-bind="html: excerpt"></p>
                    <p>
                        <i data-bind="text: originalobjecttype"></i>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="/Static/ViewModels/InfluenceResults/bestbetsviewmodel.js"></script>
}

