@model Site.Models.Pages.HomePage

@{
    Layout = "/Views/Shared/Layout/_Layout.cshtml";
}

<div id="homepage">
    <h1>Unified search</h1>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" data-bind="value: searchQuery">
        </div>
        <button data-bind="click: searchButtonClicked" class="btn btn-default">Search</button>
    </form>

    @Html.Partial("~/Views/Shared/SearchJsonResult.cshtml")

    @Html.Partial("~/Views/Shared/UnifiedSearchResults.cshtml")
</div>

@section Scripts
{
    <script src="/Static/ViewModels/homeviewmodel.js"></script>
}
