@{
    Layout = "/Views/Shared/Layout/_Layout.cshtml";
}

<h1>Auto complete</h1>
<div id="statistics-autocomplete">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" data-bind="event:{ keyup: inputFieldKeyPressed }, value: searchQuery">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: useJavascript"> Use Javascript
            </label>
        </div>
    </form>

    @Html.Partial("~/Views/Shared/SearchJsonResult.cshtml")

    <table class="table table-striped" data-bind="visible: results().length > 0">
        <thead>
        <tr>
            <th>Result</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: results">
        <tr>
            <td data-bind="text: query"></td>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="/Static/ViewModels/Statistics/autocompleteviewmodel.js"></script>
}