@{
    Layout = "/Views/Shared/Layout/_Layout.cshtml";
}

<h1>Did you mean</h1>
<div id="statistics-didyoumean" class="search-container-separator">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" data-bind="event:{ keyup: inputFieldKeyPressed }, value: searchQuery">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: useJavascript"> Use Javascript
            </label>
        </div>
    </form>

    @Html.Partial("~/Views/Shared/SearchJsonResult.cshtml")

    <table class="table table-striped" data-bind="visible: results().length > 0">
        <thead>
            <tr>
                <th>Result</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: results">
            <tr>
                <td data-bind="text: suggestion"></td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts
{
<script src="/Static/ViewModels/Statistics/didyoumeanviewmodel.js"></script>
}